.search-field input{
    width: 600px;
    height: 25px;
    padding: 6px 0px 6px 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px lightgray;
    margin-bottom: 50px;
}
.notification{
    display: flex;
    color: green;
    font-weight: 600;
    text-align: left;
    margin-left: 5%;
}
.notification p{
    margin-right: 5px;
}
.placeholder-img{
    width: 20%;
}